.moh-card_container {
  margin: 0 1.5rem 2rem;
  padding: calc(1.5rem - .0625rem); /* subtracting border size */
  box-sizing: border-box;
  background: #FFFFFF;
  border: .0625rem solid #C7C7C7;
  border-radius: .5rem;
}

.moh-card--hr {
  margin: 1.5rem 0;
}

.moh-card_icon {
  width: 6rem;
  height: auto;
  margin-bottom: 1rem;
}

.moh-card_product {
  display: flex;
  flex-direction: column;
}

.moh-card_title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: .5rem;
}

.moh-card_description {
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 1rem;
}

.moh-card_price {
  margin-top: auto;
}

.moh-card_price-number {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: .25rem;
}

.moh-card_price-frequency {
  color: #666D96;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 1.5rem;
}

.moh-card_price-button {
  background: #1D6AE5;
  height: 3rem;
  width: 100%;
  padding: 0;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.moh-card_price-button.active {
  background: #ffffff;
  color:  #212121;
}

.moh-card_features {
  padding: 0;
}

.moh-card_feature-item {
  margin: 0 0 .75rem;
  list-style: none;
  padding: 0 0 0 1.875rem;
  background-image: url("https://47980142.fs1.hubspotusercontent-na1.net/hubfs/47980142/raw_assets/public/cms-theme-boilerplate/src/images/module-icons/pricing-card/checkmark-circle-filled.svg"); /* Path to your image */
  background-size: 1.375rem;
  background-repeat: no-repeat;
  background-position: left top;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.moh-card_footnote {
  color: #666D96;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: .75rem;
}

/* Grid Layout */
.row-number-3 {
  .row-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .dnd-module {
    flex: 1 1 auto;
    max-width: 100%;
  }
}

@media (min-width: 48rem) {
  .row-number-2 {
    .row-fluid {
      gap: 2rem;
    }
    .dnd-column {
      padding: 0;
    }
  }

  .row-number-3 {
    .dnd-module {
      /*flex-basis: calc(50% - 0.5rem);*/
      width: fit-content;
    }
    .hs_cos_wrapper_type_module, .moh-card--pricing {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .moh-card_container {
    max-width: 22.75rem;
    margin: 0;
    height: 100%;
  }

  .moh-card_features {
    margin: 0;
  }
}

@media (min-width: 60.25rem) {
  .row-number-2 {
    .dnd-column {
      margin: 0 6.375rem;
    }
  }
}

@media (min-width: 64rem) {
  .row-number-3 .dnd-module {
    max-width: 18rem;
    /*flex-basis: calc(25% - 0.75rem);*/
    flex: 1 1 calc(25% - 1.5rem)
  }
}

